.box-layout {
    align-items: center;
    background: rgb(51, 51, 51);
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: $crimson;
    border-radius: 10px;
    border-width: thick;
    border-color: white;
    padding: $l-size $m-size;
    text-align: center;
    height: 40rem;
    width: 100rem;
}

.box-layout__title {
    color: white;
    font-size: 50px;
    font-weight: 1000;
    margin: 10rem 0 $m-size 0;
    opacity: 10
}