.filters {
    display: flex;
    justify-content: left;
    margin-bottom: $s-size;
    margin-left: 12rem;

    @media(max-width: $desktop-breakpoint) {
        margin-left: 1rem;;
    }
}

.filters__item {
    margin-right: $s-size;
}