.individual-goal {
    border: 4px solid $crimson;
    border-style: groove;
    color: $grey-font;
    display: flex;
    font-size: 28px;
    justify-content: space-around;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 6rem;
    background: $off-white;
    @media (max-width: $desktop-breakpoint) {
        display: table-row;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        font-size: 17px;
      }
}

.individual-goal__goal-strats {
    max-width: 55rem;
    margin-left: 12rem;
    @media (max-width: $desktop-breakpoint) {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        font-size: 17px;
      }
}

.individual-goal__other {
    margin-left: 12rem;
    margin-right: 12rem;
    @media (max-width: $desktop-breakpoint) {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        font-size: 17px;
      }
}

.individual-goal__strats {
    margin-left: 3rem;
    @media (max-width: $desktop-breakpoint) {
        margin-left: 0rem;
        font-size: 17px;
      }
}

.individual-goal__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10rem;
  @media (max-width: $desktop-breakpoint) {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10rem;
    }
}

