// px is most common but rem allows better accessibility
// 62.5% in html allows rem to be divisible by 10 so 1.6 rem = 16 px

html {
    font-size: 62.5%
}

body {
    color: $dark-grey;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 2.3rem;
    line-height: 1.6;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}